/*--@charset "UTF-8";--*/

@font-face {
    font-family: 'onryou'; 
    src: url('../font/onryou.ttf') format('truetype');
    font-family: 'jojo'; 
    src: url('../font/BIZARG__.ttf') format('truetype');
}

body{
    margin:0;
}

/*-----header------*/
header{
   
    padding:0px 30px 30px 80px;
    height:80px;
    display: flex;
}
a{
    text-decoration:none;
    color:black;
}
h2{
    font-family:'ＭＳ Ｐゴシック';
    font-size:40px;
    font-weight:bolder;
    letter-spacing: -0.08em;
}
/*-----------------------*/

.title{

    width: 60%;               /* 幅指定 */
    height: 200px;               /* 高さ指定 */
    margin:  0 auto;            /* 中央寄せ */
    text-align:center;
    font-size:24px; 
}

h1{
    padding:15px;
    font-family:'MS Mincho';
    color:black;
}


button {
    font-family:'MS Mincho';
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background:white;/*ボタン色*/
    color:black;
    border-bottom: solid 4px rgb(100,100,100);
    border-radius: 3px;
    margin-right:25px;
    margin-bottom:50px;
  }

button:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
  }



.canvas_div{
    width: 80%;               /* 幅指定 */         
    padding-top:50px;
    margin:  0 auto;            /* 中央寄せ */
    text-align:center;
    font-size:24px;
}

#label-container{
    width: 50%;
    margin:  0 auto; 
    text-align:left;
}


canvas{
    /*background-image:url(gakubuchi.png);*/
    height:40vw;
    width:40vw;
}

footer{
    height:100px;
    margin-top:300px;

    background-color:black;

}










