@charset "UTF-8";

html{
    font-size:100%;
    
}

body{
    font-family:'ＭＳ Ｐゴシック';
    margin:0;
    text-align: center;
}

.index{
    margin-top:20px;
    background-image: url(../img/jojotop2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    filter:opacity(80%);
}

.topimg{
    width:50vw;
    filter: grayscale(100%);
}

a{
    text-decoration:none;
    color:black;
}

header{
    padding:0px 30px 30px 80px;
    height:80px;
    display: flex;

}


h2{
    font-size:40px;
    font-weight:bolder;
    letter-spacing: -0.08em;
}

#home{
    width:70vw;
    height:60vh;
    margin:0 auto 0 auto;
    padding-top:200px;
    display:flex;
    justify-content: space-around;
    
}

#home a{
    color:black;
    font-size: 50px;
}




